NAMA : Ninda Nurismiranda
PROGRAM : Introduction to Python for Data Science

## Sesi 2 Conditions, Control Flow & Looping

### Introduction to the if Statement

Tipe pernyataan yang paling dasar dalam bentuk yang paling sederhana

if <expr>:
    <statement>

In [3]:
x = 10 
y = 15

In [4]:
if x < y: # 
    print("Yes, x < y ")

Yes, x < y

In [5]:
if y > x:  # 
    print("Yes y > x ")

Yes y > x

In [6]:
if 'aul' in 'grault':                # 
    print('yes')

yes

In [7]:
if 'quux' in ['foo', 'bar', 'baz']:  # 
    print('yes')

print("quuk not ok")

quuk not ok

### Grouping Statements: Indentation and Blocks

In [8]:
if 'foo' in ['bar', 'baz', 'qux']:
    print('Expression was true')
    print('Executing statement in suite')
    print('...')
    print('Done.')
    
print('After conditional')

After conditional

In [9]:
# Does line execute?                        Yes    No
#                                           ---    --
if 'foo' in ['foo', 'bar', 'baz']:        #  
    print('Outer condition is true')      #  yes

    if 10 > 20:                           #  yes
        print('Inner condition 1')        #        no

    print('Between inner conditions')     #  yes

    if 10 < 20:                           #  yes
        print('Inner condition 2')        #  yes     

    print('End of outer condition')       #  yes
print('After outer condition')            #  yes

Outer condition is true
Between inner conditions
Inner condition 2
End of outer condition
After outer condition

### The else and elif Clauses

In [10]:
x = 20

if x < 50:
    print('(first suite)')
    print('x is small')
else:
    print('(second suite)')
    print('x is large')

(first suite)
x is small

In [11]:
x = 120

if x < 50:
    print('(first suite)')
    print('x is small')
else:
    print('(second suite)')
    print('x is large')

(second suite)
x is large

In [12]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 2000

if uang > hargaBuku:
    print("beli buku")
else:
    print("uang tidak cukup")

uang tidak cukup

In [13]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 2000

if uang > hargaBuku:
    print("beli buku")
elif uang > hargaMajalah:
    print("beli majalah")
else:
    print("uang tidak cukup")

uang tidak cukup

In [15]:
name = 'Hacktiv8'
if name == 'Fred':
    print('Hello Fred')
elif name == 'Xander':
    print('Hello Xander')
elif name == 'Hacktiv8':
    print('Hello Hacktiv8')
elif name == 'Arnold':
    print('Hello Arnold')
else:
    print("I don't know who you are!")

Hello Hacktiv8

In [16]:
if 'a' in 'bar':
    print('foo')
elif 1/0:
    print("This won't happen")
elif var:
    print("This won't either")

foo

### One-Line if Statements

In [17]:
if 'f' in 'foo': print('1'); print('2'); print('3')

1
2
3

In [19]:
if 'z' in 'foo': print('1'); print('2'); print('3')

In [20]:
x = 2

if x == 1: print('foo'); print('bar'); print('baz')
elif x == 2: print('qux'); print('quux')
else: print('corge'); print('grault')

qux
quux

In [22]:
x = 3
if x == 1: print('foo'); print('bar'); print('baz')
elif x == 2: print('qux'); print('quux')
else: print('corge'); print('grault')

corge
grault

In [23]:
x = 3
if x == 1:
    print('foo')
    print('bar')
    print('baz')
elif x == 2:
    print('qux')
    print('quux')
else:
    print('corge')
    print('grault')

corge
grault

### Conditional Expressions (Python’s Ternary Operator)

In [24]:
raining = False
print("Let's go to the", 'beach' if not raining else 'library')

Let's go to the beach

In [25]:
raining = True
print("Let's go to the", 'beach' if not raining else 'library')

Let's go to the library

In [26]:
age = 12
s = 'teen' if age < 21 else 'adult'
s

'teen'

In [27]:
'yes' if ('qux' in ['foo', 'bar', 'baz']) else 'no'

'no'

In [28]:
age = 12
vaksin = 'blm bisa vaksin' if age <= 12 else 'sudah bisa vaksin'

print(vaksin)

blm bisa vaksin

### The Python pass Statement

In [29]:
if True:

print('foo')

IndentationError: expected an indented block (<ipython-input-29-37d82b1abfb6>, line 3)

In [30]:
if True:
    pass

print('foo')

foo

## Python "while" Loops

In [31]:
n = 5
while n > 0:
    n -= 1
    print(n)

4
3
2
1
0

In [32]:
i = 1
while i <= 6:
  print(i)
  i += 1

1
2
3
4
5
6

### The Python break and continue Statements

In [33]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        break # Break Statement
    print(n)
print('Loop ended.')

4
3
Loop ended.

In [34]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        continue
    print(n)
print('Loop ended.')

4
3
1
0
Loop ended.

### The else Clause

In [35]:
n = 5
while n > 0:
    n -= 1
    print(n)
else:
    print('Loop done.')

4
3
2
1
0
Loop done.

In [36]:
n = 5
while n > 0:
    n -= 1
    print(n)
    if n == 2:
        break
else:
    print('Loop done.')

4
3
2

### Infinite Loops

### Nested while Loops

In [1]:
age = 65 
gender = 'M'

if age < 18:
    if gender == 'M':
        print('son')
    else:
        print('daughter')
elif age >= 18 and age < 65:
    if gender == 'M':
        print('father')
    else:
        print('mother')
else:
    if gender == 'M':
        print('grandfather')
    else:
        print('grandmother')

grandfather

In [2]:
a = ['foo', 'bar']

while len(a):
    print(a.pop(0))
    
    b = ['baz', 'qux']
    
    while len(b):
        print('>', b.pop(0))

foo
> baz
> qux
bar
> baz
> qux

### One-Line while Loops

In [4]:
n = 5
while n > 0: n -= 1; print(n)

4
3
2
1
0

### Numeric Range Loop

In [5]:
for i = 1 to 10
    <loop body>

SyntaxError: invalid syntax (<ipython-input-5-8aa2d9ff8f87>, line 1)

### Three-Expression Loop

In [ ]:
for (i = 1; i <= 10; i++)
    <loop body>

### Collection-Based or Iterator-Based Loop

In [ ]:
for i in <collection>
    <loop body>

### The Python for Loop

In [ ]:
for <var> in <iterable>:
    <statement(s)>

In [6]:
a = ['foo', 'bar', 'baz']
for i in a:
    print(i)

foo
bar
baz

### Iterating Through a Dictionary

In [7]:
# dictonary 
d = {'foo': 1, 'bar': 2, 'baz': 3}
for k in d:
    print(k)

foo
bar
baz

In [8]:
for k in d:
    print(d[k])

1
2
3

In [9]:
for k in d.values():
    print(k)

1
2
3

In [10]:
for k, v in d.items(): 
    print(k, ":", v)

foo : 1
bar : 2
baz : 3

### The range() Function

In [11]:
for n in (0, 1, 2, 3, 4):
    if n ==1: 
        print(n)

1

In [12]:
x = range(5)
print(x)
for n in x:
    print(n)

range(0, 5)
0
1
2
3
4

### Altering for Loop Behavior
    diinterupsi dengan pernyataan break and continue dan dimodifikasi dengan klausa else , sama dengan sebelumnya 
    while loop
    
#### The break and continue Statements

In [13]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i:
        break
    print(i)

foo

In [14]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i:
        continue
    print(i)

foo
qux

#### The else Clause

In [15]:
for i in ['foo', 'bar', 'baz', 'qux']:
    print(i)
else:
    print('Done.')  # Will execute

foo
bar
baz
qux
Done.

In [16]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if i == 'bar':
        break
    print(i)
else:
    print('Done.')  # Will not execute

foo

In [17]:
# 
temp = input("Ketikan temperatur yang ingin dikonversi, eg. 45F, 120C: ")
degree = int(temp[:-1])
i_convertion = temp[-1]
print(i_convertion) 
result = 0 
if i_convertion == "C":
    result = int(round((9 * degree) / 5 + 32))
elif i_convertion == "F":
    result = int(round((degree - 32) * 5 / 9))
else:
    print("Masukan input yang benar")

print("Temperaturnya adalah", result, "derajat")

Ketikan temperatur yang ingin dikonversi, eg. 45F, 120C: 23C
C
Temperaturnya adalah 73 derajat

In [ ]:
while True:
    msg = input("Ketikan karakter: ").lower()
    print(msg)
    if msg == "stop":
        break

Ketikan karakter: kita
kita

### Latihan Tugas Praktik 

    Membuat suatu program menentukan suatu nilai pada variable tersebut genap atau ganjil! 
    Kita coba lakukan langkah sebagai berikut:
    
* Buat variabel dengan nama “angka” isi dengan nilai 20
* Ganti bagian ... dengan perhitungan untuk menentukan angka modulus 2 bernilai 0.
* dilakukan pengecekan apakah benar dia bernilai genap maka mencetak **"angka ini bilangan genap"**, 
* jika sudah ganti nilai variable angka dengan nilai yang lain untuk melakukan pengecekan apakah sdh benar code tersebut jika suatu nilai tersebut bilangan ganjil akan mencetak cek lagi apakah dia bernilai ganjil dan keluarkan **"angka termasuk bilangan ganjil"**.

Note: Anda bisa menggunakan materi-materi sebelumnya dengan menggabungkannya di tugas praktek ini untuk membantu anda dalam mengerjakan.


```
angka=10

if(.....):
    print("angka ini bilangan genap")
else:
    print("angka ini bilangan ganjil")
```

In [2]:
## Kemudian lakukan dengan cara yang berbeda diatas tapi menghasilkan hasil yang sama 
angka = 20

if angka % 2 == 0:
    print('angka ini bilangan genap')
else : 
    print('angka ini bilangan ganjil')
## menggunakan perbandingan bool , menggunakan single statement 
print('angka ini bilangan genap') if angka % 2 == 0 else print('angka ini bilangan ganjil')

angka ini bilangan genap
angka ini bilangan genap

### Latihan Tugas Praktik 
     
    User ingin membuat sebuah program yang dapat mengeluarkan angka 1 sampai 10. dan tampilan akan mencetak "Angka ganjil 1" untuk angka ganjil dan "Angka genap 2" untuk angka genap. (Menggunakan looping for)
​
```
for i in range (#,#):
    if(i%#==#):
        print("Angka genap",i)
    else:
         print("Angka ganjil",i)
```

In [4]:
## setelah buat diatas 
for i in range (1,10):
    if(i % 2 == 0):
        print('Angka genap ', i)
    else:
        print('Angka ganjil ', i)

Angka ganjil  1
Angka genap  2
Angka ganjil  3
Angka genap  4
Angka ganjil  5
Angka genap  6
Angka ganjil  7
Angka genap  8
Angka ganjil  9

In [5]:
## buatlah dengan menggunakan list

angka = [1,2,3,4,5,6,7,8,9,10]
for i in angka:
    if(i % 2 == 0):
        print('Angka genap ', i)
    else:
        print('Angka ganjil ', i)

Angka ganjil  1
Angka genap  2
Angka ganjil  3
Angka genap  4
Angka ganjil  5
Angka genap  6
Angka ganjil  7
Angka genap  8
Angka ganjil  9
Angka genap  10

In [6]:
## buatlah dengan menggunakan tuple
angka = (1,2,3,4,5,6,7,8,9,10)
for i in angka:
    if(i % 2 == 0):
        print('Angka genap ', i)
    else:
        print('Angka ganjil ', i)

Angka ganjil  1
Angka genap  2
Angka ganjil  3
Angka genap  4
Angka ganjil  5
Angka genap  6
Angka ganjil  7
Angka genap  8
Angka ganjil  9
Angka genap  10

In [7]:
## buatlah dengan menggunakan dict 
angka = {"satu":1, "dua":2, "tiga":3, "empat":4, "lima":5, "enam":6, "tujuh":7, "delapan":8, "sembilan":9, "sepuluh":10}

for i in angka.values():
    if i%2==0:
        print("Angka Genap ", i)
    else:
        print("Angka Ganjil ", i)

Angka Ganjil  1
Angka Genap  2
Angka Ganjil  3
Angka Genap  4
Angka Ganjil  5
Angka Genap  6
Angka Ganjil  7
Angka Genap  8
Angka Ganjil  9
Angka Genap  10